body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0e3f28;
  color: #e8f5e9;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b3b23;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:70px;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

#mobileToggle {
  display: none;
  background: #ffffff20;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#mobileMenu {
  display: none;
  background: #0b3b23;
  padding: 15px;
  text-align: center;
}

main {
  max-width: 1100px;
  margin: 100px auto 40px;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #ffffff10;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #a5d6a7;
  border: none;
  border-radius: 20px;
  color: #003300;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #c8e6c9;
}

@media (max-width: 768px) {
  #desktopLinks {
    display: none;
  }
  #mobileToggle {
    display: block;
  }
}
desktopLinks {
  display: flex;
  gap: 20px;
}
nav {
  flex-wrap: wrap; /* allows links to move to the next line if too long */
}
